<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<form action="">
  <input type="checkbox"> This task is not completed yet
</form>
<a href="/tasks/<%= @task.id %>/edit">Edit task</a>
<a href="/tasks">Back to main list</a>
